body {
    font-family: 'Vollkorn', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.test { padding: 10px; }

a {
  color: #2e5d2f;
}

a:link {
  color: #2e5d2f;
  text-decoration: none;
}

a:visited {
  color: #2e5d2f;
  text-decoration: none;
}

a:hover {
  color: #1a331a;
  text-decoration: underline;
}

a:active {
  color: #1a331a;
  text-decoration: none;
}

header h1,
header p {
  margin: 0;
}

.App {
}

.hand {
  cursor: hand;
}

.App-header {
  background-color: #2e5d2f;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul.nav {
  margin: 0;
  padding: 0;
}

  ul.nav li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
  }

  ul.nav li a {
    cursor: pointer;
    padding: 0.5em 0.2em;
  }

  .data-list ul.nav li a:hover {
    background-color: #eef7ee;
    text-decoration: none;
  }

#Nav {
  background-color: #ccc;
  padding: 1em;
}


ul#nav-primary {
  padding: 0;
}

  #nav-primary li {
    float: left;
    margin: 0 1em 0 0;
  }


ul#nav-secondary {
  margin: 1em;
}

  ul#nav-secondary li {}

#content-wrapper {
  padding: 1em 1em 7em 1em;
}


footer {
  background-color: #2e5d2f;
  bottom: 0;
  color: #ffffff;
  font-size: 0.8em;
  height: 6.5em;
  left: 0;
  margin-top: 1em;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: 100%;
}


@media only screen and (max-width: 512px) {
  #content-wrapper {
    padding-bottom: 9em;
  }
  
  footer {
    height: 8em;
  }
}

  footer p {
    margin: 0.5em;
  }

  footer p a:link {
    color: #dcd78e;
  }

  footer p a:visited {
    color: #dcd78e;
  }

  footer p a:hover {
    color: #ffffff;
  }

  footer p a:active {
    color: #ffffff;
  }

.data-list {
  border: 1px solid #000;
  float: left;
  height: 600px;
  margin-right: 1%;
  overflow: scroll;
  padding: 0.5em;
  width: 300px;
}

.data-display {
  float: left;
  max-width: 47%;

}
.one-half {
  float: left;
  margin: 0 2em 2em 0;
}

button {
  cursor: pointer;
  padding: 0.3em;
}

#monster-chooser {
  border: 1px solid #000;
  padding: 1em;
  height: 400px;
  overflow: scroll;
}

#monster-diapl {
  max-width: 48%;
  padding: 1em;
}

.itemName {
  text-transform: capitalize;
}

.titleName {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

h4 {
  margin: 0.3em 0 0 0;
}

.monster-attribute {
  width: 100%;
}

.special-ability {
  margin: 0.5em 0;
}

.monster-table {
  border-collapse: collapse;
  border: 1px solid #333;
}
  .monster-table td {
    border-collapse: collapse;
    border: 1px solid #333;
    padding: 0.3em;
  }

.initial-hide {
  display: none;
}

#home {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10%;
}


@media only screen and (max-width:550px) {
  #home {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10%;
  }
}

/* 
   Begin Valloric based Monster Display
   CSS version by Chad Carteret
   https://codepen.io/retractedhack/pen/gPLpWe
  */


  #MonsterDisplay {
    text-align: center;
    font-size: 13.5px;
    line-height: 1.5em;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  }
  #MonsterDisplay *{
    box-sizing: border-box;
    max-width: 100%;
  }
  #MonsterDisplay hr{
    max-width: none;
  }
  .stat-block {
    text-align: left;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    width: 420px;
    min-width:280px;
    background: #FDF1DC;
    padding: 5px 10px 20px;
    box-shadow: 0 0 1.5em #867453;
  }
  .stat-block.wide{
    width: 46.5%;
    min-width: 560px;
    text-align: center;
  }
  .stat-block.wide .section-left,
  .stat-block.wide .section-right{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    text-align: left;
  }
  .stat-block.wide .section-left{
    margin-right: 1.5%;
  }
  .stat-block.wide .section-right{
    margin-left: 1.5%;
  }
  @media screen and (max-width: 675px){
    .stat-block.wide{
      min-width: 280px;
    }
    .stat-block.wide .section-left,
    .stat-block.wide .section-right{
      display: block;
      width: 100%;
    }
    .stat-block.wide .section-left{
      margin: 0;
    }
    .stat-block.wide .section-right{
      margin: 0;
    }
  }
  .orange-border{
    display: block;
    background: #E69A28;
    border: 1px solid #000;
    height: 5px;
    padding: 0 10px 0;
    margin: -10px -10px 0;
    box-sizing: initial;
  }
  .orange-border.bottom{
    margin: 15px -10px -20px;
  }
  .tapered-rule{
    display: block;
    width: 100%;
    height: 5px;
    border: none;
    color: #922610;
    fill: #922610;
    stroke: #922610;
  }
  .creature-heading h1{
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    color: #922610;
    font-size: 23px;
    line-height: 1.5em;
    margin: 10px 0 0;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-weight: bold;
  }
  .creature-heading h2{
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5em;
    margin: 0 0 10px;
  }

  #MonsterDisplay h4{
    margin-right: 0.2em;
  }
  .property-line h4,
  .property-line p{
    display: inline;
    margin: 0;
    color: #922610;
    font-size: 13.5px;
    line-height: 1.5em;
  }
  .property-line h4{
    color: #7A200D;
  }
  .property-line{
    text-indent: -1em;
    padding-left: 1.1em;
    line-height: 1.4em;
  }
  .tapered-rule {
    margin: 10px 0 8px 0;
  }
  .abilities{
    text-align: center;
    color: #922610;
  }
  .abilities > div{
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px; 
    font-size: 12px;
    line-height: 1em;
  }
  .abilities h4{
    margin: 10px 0 2px;
    font-size: 14px;
    line-height: 1.5em;
    text-transform: uppercase;
    color: #7A200D;
  }
  .abilities p{
    margin: 0 0 10px;
    line-height: 1.5em;
  }
  .property-block h4,
  .property-block p{
    font-size: 13.5px;
    line-height: 1.5em;
    display: inline;
    margin: 0;
  }
  .property-block h4{
    font-style: italic;
  }
  .property-block{
    padding: 10px 2px 0;
  }
  .actions h3{
    border-bottom: 1px solid #7A200D;
    color: #7A200D;
    font-size: 21px;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 0 0 10px;
  }
  .actions{
    margin: 0 0 20px;
  }
  .actions:last-child{
    margin: 0;
  }
  
  @media print{
    .orange-border{
      display: none;
    }
    .stat-block,
    .stat-block.wide, 
    .stat-block.wide .section-left,
    .stat-block.wide .section-right,
    .property-line,
    .property-block{
      width: 100%;
      display: block;
    }
    .stat-block.wide .section-left{
      margin: 0;
    }
    .stat-block.wide .section-right{
      margin: 0;
    }
    .stat-block{
      width: 40%;
      display: inline-block;
      vertical-align: top;
    }
    .stat-block.wide{
      page-break-after: always;
    }
  }
  @media screen and (max-width: 575px){
    .stat-block{
      margin: 20px 0;
    }
  }
  