.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.test { padding: 10px; }

a {
  color: #0033dd;
}

a:link {
  color: #0033dd;
  text-decoration: none;
}

a:visited {
  color: #0033dd;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:active {
  color: #0000ff;
  text-decoration: none;
}

.App {
}

.hand {
  cursor: hand;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul.nav {
  margin: 0;
  padding: 0;
}

  ul.nav li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0;
  }

  ul.nav li a {
    cursor: pointer;
    padding: 0.5em 0.2em;
  }

  .data-list ul.nav li a:hover {
    background-color: #0033dd;
    color: #fff;
    text-decoration: none;
  }

#Nav {
  background-color: #ccc;
  padding: 1em;
}

ul#nav-primary {
  padding: 0;
}

  #nav-primary li {
    float: left;
    margin: 0 1em 0 0;
  }


ul#nav-secondary {
  margin: 1em;
}

  ul#nav-secondary li {}

#content-wrapper {
  padding: 1em;
}

.data-list {
  border: 1px solid #000;
  float: left;
  height: 300px;
  margin-right: 1%;
  overflow: scroll;
  padding: 0.5em;
  width: 300px;
}

.data-display {
  float: left;
  max-width: 47%;

}
.one-half {
  float: left;
  margin: 0 2em 2em 0;
}

button {
  cursor: pointer;
  padding: 0.3em;
}

#monster-chooser {
  border: 1px solid #000;
  padding: 1em;
  height: 400px;
  overflow: scroll;
}

#monster-diapl {
  max-width: 48%;
  padding: 1em;
}

.itemName {
  text-transform: capitalize;
}

.titleName {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

h4 {
  margin: 0.3em 0 0 0;
}

.monster-attribute {
  width: 100%;
}

.special-ability {
  margin: 0.5em 0;
}

.monster-table {
  border-collapse: collapse;
  border: 1px solid #333;
}
  .monster-table td {
    border-collapse: collapse;
    border: 1px solid #333;
    padding: 0.3em;
  }

.initial-hide {
  display: none;
}
