.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.test { padding: 10px; }
.App {
}

.hand {
  cursor: hand;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul.nav {
  margin: 0;
  padding: 0;
}

  ul.nav li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul.nav li a {
    cursor: pointer;
  }

#Nav {
  background-color: #ccc;
  padding: 1em;
}

ul#nav-primary {
  padding: 0;
}

  #nav-primary li {
    float: left;
    margin: 0 1em 0 0;
  }

  #nav-primary li a {
    padding: 0.5em;
  }

  #nav-primary li a:link {
    color: #000000;
  }

  #nav-primary li a:visited {
    color: #000000;
  }

  #nav-primary li a:hover {
    color: #000000;
  }

  #nav-primary li a:active {
    color: #000000;
  }

  #nav-primary li a.active {
    color: #333333;
  }

ul#nav-secondary {
  margin: 1em;
}

  ul#nav-secondary li {}

#content-wrapper {
  padding: 1em;
}

.monsters-list {
  border: 1px solid #000;
  float: left;
}

.monster-display {
  border: 1px solid #dddddd;
  float: left;
  max-width: 48%;

}
.one-half {
  float: left;
  margin: 0 2em 2em 0;
}

button {
  cursor: pointer;
  padding: 0.3em;
}

#monster-chooser {
  border: 1px solid #000;
  padding: 1em;
  height: 400px;
  overflow: scroll;
}

#monster-diapl {
  max-width: 48%;
  padding: 1em;
}

.itemName {
  text-transform: capitalize;
}

.titleName {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
}

h3 {
  text-transform: capitalize;
}

h4 {
  margin: 0.3em 0 0 0;
}

.monster-attribute {
  width: 100%;
}

.special-ability {
  margin: 0.5em 0;
}
